<div class="container">
	<div calss="row">
    <!__<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
    <div class="col-sm-12 pt-3">

      <h2>会員情報編集</h2>
		  <%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>
        <div class="form-row">
          <legend class="col-form-label col-sm">名前</legend>
          <legend class="col-form-label col-auto">(性)</legend>
          <div class="form-group col-sm">
            <%= f.text_field :first_name, autofocus: true, :placeholder => "令和" %>
          </div>
          <legend class="col-form-label col-auto">(名)</legend>
          <div class="form-group col-sm">
            <%= f.text_field :last_name, autofocus: true, :placeholder => "道子" %>
          </div>
        </div>

        <div class="form-row">
          <legend class="col-form-label col-sm">フリガナ</legend>
          <legend class="col-form-label col-auto">(セイ)</legend>
          <div class="form-group col-sm">
            <%= f.text_field :first_name_kana, autofocus: true, :placeholder => "レイワ" %>
          </div>
          <legend class="col-form-label col-auto">(メイ)</legend>
          <div class="form-group col-sm">
              <%= f.text_field :last_name_kana, autofocus: true, :placeholder => "ミチコ" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">郵便番号（ハイフンなし）</div>
          <div class="form-group col-sm">
            <%= f.text_field :postal_code, class: 'from-controll', autofocus: true %>
          </div>
          <div class="form-group col-sm"></div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">住所</div>
          <div class="form-group col-sm">
            <%= f.text_field :address, class: 'col-sm-12', autofocus: true %>
          </div>
          <div class="form-group col-sm"></div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">電話番号(ハイフンなし)</div>
          <div class="form-group col-sm">
            <%= f.text_field :telephone_number, class: 'col-sm-12', autofocus: true %>
          </div>
          <div class="form-group col-sm"></div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">メールアドレス</div>
          <div class="form-group col-sm">
            <%= f.email_field :email, class: 'from-controll', autofocus: true %>
          </div>
          <div class="form-group col-sm"></div>
        </div>

        <div class="from-row">
          <div class="form-group col-sm"></div>
          <div class="form-group col-sm">
            <%= f.submit "編集内容を保存", class:'btn btn-success form-group col-6 sign_in' %>
          </div>
          <div class="form-group col-sm">
          	<%= link_to "退会する", quit_customer_path, class:'btn btn-danger form-group col-6 sign_in' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>