<div class="container">
	<div calss="row">
    <!__<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
    <div class="col-sm-12">

      <h2>ログイン</h2>

      <div class="col-sm-12">
        <h2>会員の方はこちらからログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="col-sm-12">

            <div class="form-row">
              <legend class="col-form-label col-sm">メールアドレス</legend>
              <div class="form-group col-sm">
                <%= f.email_field :email, autofocus: true, :placeholder => "sample@example.com" %>
              </div>
            </div>

            <div class="form-row">
              <legend class="col-form-label col-sm">パスワード</legend>
              <div class="form-group col-sm">
                <%= f.password_field :password, autofocus: true %>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-sm"></div>
              <%= f.submit "ログイン", class:'btn btn-success btn-sm form-group col-4 sign_in' %>
            </div>
          </div>
        <% end %>
      </div>

      <%= render "public/shared/links" %>

    </div>
  </div>
</div>