<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container ">
    <a class="navbar-brand" href="/">ロゴ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if customer_signed_in? %>
      <div class="collapse navbar-collapse justify-content-around text-light"> ようこそ<%= current_customer.first_name %>さん! </div>
    <% end %>

    <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <% if customer_signed_in? %>
        <li>
          <%= link_to (customer_path(current_customer.id)), class: 'nav-link text-light' do %>
            <i class="fas fa-home"></i>マイページ
          <% end %>
        <li>
          <%= link_to (about_path), class: 'nav-link text-light' do %>
            <i class="fas fa-users"></i>商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to (about_path), class: 'nav-link text-light' do %>
            <i class="fas fa-book-open"></i>カート
          <% end %>
        </li>
        <li>
          <%= link_to (destroy_customer_session_path),method: :delete, class: 'nav-link text-light' do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to (about_path), class: 'nav-link text-light' do %>
            <i class="fas fa-home"></i>About
          <% end %>
        <li>
          <%= link_to (about_path), class: 'nav-link text-light' do %>
            <i class="fas fa-link"></i>商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to (new_customer_registration_path), class: 'nav-link text-light' do %>
            <i class="fas fa-user-plus"></i>新規登録
          <% end %>
        </li>
        <li>
          <%= link_to (new_customer_session_path), class: 'nav-link text-light' do %>
            <i class="fas fa-sign-in-alt"></i>ログイン
          <% end %>
        </li>
      <% end %>
      </ul>

	    <div class="navbar-nav ml-auto" id="input-group">
			  <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="Search"></input>
				  <span class="input-group-btn input-group-append">
					<submit type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i></submit>
				</span>
			</div>
		</div>

  </div>
</nav>
